<tr class="nested-fields">
  <td><%= l(@day, format: :short) + "(#{$days_of_the_week[@day.wday]})"%></td>
    <%= f.hidden_field :worked_on, :value => @day %>
    <td class="select--classroom">
      <%= f.collection_select :classroom,
        @classrooms, :id, :class_name,
        { include_blank: "クラスを選択" },
        class: "form-control classroom-select",
        required: true
      %>
    </td>
    <td class="select--student">
      <%= f.collection_select :student_id,
        [], :id, :student_name,
        { include_blank: "クラスを選択してください" },
        class: "form-control student-select",
        required: true
      %>
    </td>
    <td><%= f.text_field :menu, required: true, class: "form-control" %></td>
    <td>
      <%= f.select :support,
        ['対応食', '代替食', '除去食', 'その他'],
        { include_blank: "対応を選択" },
        class: "form-control",
        required: true
      %>
    </td>
    <td><%= f.text_field :note, class: "form-control" %></td>
  <td><%= link_to_remove_association "削除", f, class: "btn btn-default" %></td>
</tr>

<script>



// optionを追加するHTML
function appendStudent(datas, student_select_id) {
  var appendId = $(`#${student_select_id}`)
  $(`#${student_select_id} > option`).remove();
  datas.forEach(function(data) {
    appendId.append($("<option>").val(data[0]).html(data[1]))
  })
}

// Lカテゴリーが選択された時のアクション
$(document).on("change", ".classroom-select", function () {
  classroom_id = $(this).val()
  student_select_id = $(this).attr('id').replace('classroom', 'student_id')
  // ajaxでリクエストを送信
  $.ajax({
    type: "GET",
    url: "/teachers/students/alergy_checks/creator/students",
    data: {classroom_id: classroom_id},
    dataType: 'json'
  })
  // doneメソッドでappendする
  .done(function(datas) {
    appendStudent(datas, student_select_id)
  })
})


</script>