<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <h1>対応法登録</h1>
      <div>
        <%= form_with model: @alergy_check, url: teachers_student_alergy_checks_creator_path(@alergy_check.student_id, @alergy_check.id) do |f| %>
          <table class="table table-bordered table-condensed table-hover table__alergy-contents--center">
            <thead>
              <tr>
                <td colspan=8><%= l(@alergy_check.worked_on, format: :long) %></td>
              </tr>
              <tr>
                <th>日付</th>
                <th>クラス名</th>
                <th>児童名</th>
                <th>メニュー名</th>
                <th>対応法</th>
                <th>備考</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= l(@alergy_check.worked_on, format: :short) + "(#{$days_of_the_week[@alergy_check.worked_on.wday]})"%></td>
                <td><%= f.collection_select :classroom, @classrooms, :id, :class_name, { selected: @classroom.id }, { class: "form-control", id: "select--classroom" } %></td>
                <td><%= f.collection_select :student_id, @classroom.students, :id, :student_name, { required: true }, { class: "form-control", id: "select--student" } %></td>
                <td><%= f.text_field :menu, required: true, class: "form-control"  %></td>
                <td><%= f.select :support, ['対応食', '代替食', '除去食', 'その他'], { required: true }, { class: "form-control" } %></td>
                <td><%= f.text_field :note, class: "form-control" %></td>
              </tr>
            </tbody>
          </table>
          <div>
            <%= f.submit "更新", class: "btn btn-primary btn-block" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>

// optionを追加するHTML
function appendStudent(datas, student_select_id) {
  var appendId = $(`#${student_select_id}`)
  $(`#${student_select_id} > option`).remove();
  datas.forEach(function(data) {
    appendId.append($("<option>").val(data[0]).html(data[1]))
  })
}

// クラスが選択された時のアクション
$(document).on("change", "#select--classroom", function () {
  classroom_id = $(this).val()
  student_select_id = "select--student"
  // ajaxでリクエストを送信
  $.ajax({
    type: "GET",
    url: "/teachers/students/alergy_checks/creator/students",
    data: {classroom_id: classroom_id},
    dataType: 'json'
  })
  // doneメソッドでappendする
  .done(function(datas) {
    appendStudent(datas, student_select_id)
  })
})

</script>
