<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <h1>対応法登録</h1>
      <div>
        <%= form_with(model: @alergy_check, url: teachers_students_alergy_checks_creator_path) do |f| %>
          <table class="table table-bordered table-condensed table-hover table__alergy-contents--center">
            <thead>
              <tr>
                <td colspan=8><%= l(@day, format: :long) %></td>
              </tr>
              <tr>
                <th>日付</th>
                <th>クラス名</th>
                <th>児童名</th>
                <th>メニュー名</th>
                <th>対応法</th>
                <th>備考</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <%= f.hidden_field :worked_on, :value => @day %>
                <td><%= l(@day, format: :short) + "(#{$days_of_the_week[@day.wday]})"%></td>
                <td><%# f.collection_select :class_name, @classrooms, :id, :class_name %></td>
                <td><%= f.collection_select :student_id, Student.all, :id, :student_name, { required: true }, { class: "form-control" } %></td>
                <td><%= f.text_field :menu, required: true, class: "form-control" %></td>
                <td><%= f.select :support, ['対応食', '代替食', '除去食', 'その他'], { include_blank: "対応を選択してください", required: true }, { class: "form-control" } %></td>
                <td><%= f.text_field :note, class: "form-control" %></td>
              </tr>
            </tbody>
          </table>
          <div>
            <%= f.submit "登録", class: "btn btn-primary btn-block" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>