<table class="table table-bordered table-condensed" id="index-classroom">
  <thead>
    <tr>
      <th>クラス名</th>
      <th>担任登録</th>
      <th>担任名</th>
      <th>担任削除</th>
    </tr>
  </thead>

  <tbody>
    <% classrooms.each do |classroom| %>
      <% teachers = Teacher.where(classroom_id: classroom.id) %>
      <% if teachers.blank? %>
      <tr>
        <td><%= classroom.class_name %></td>
        <td><%= link_to '担任登録', new_teacher_registration_path(classroom_id: classroom.id), class: "btn btn-primary" %></td>
        <td></td>
        <td></td>
      </tr>
      <% else %>
        <% saved_class_name = nil %>
        <% teachers.each do |teacher| %>
        <tr>
          <% if classroom.class_name == saved_class_name %>
            <td></td>
          <% else %>
            <td><%= classroom.class_name %></td>
          <% end %>
          <% if classroom.class_name == saved_class_name %>
            <td></td>
            <td><%= teacher.teacher_name %></td>
          <% else %>
            <% saved_class_name = classroom.class_name %>
            <td><%= link_to '担任登録', new_teacher_registration_path(classroom_id: classroom.id), class: "btn btn-primary" %></td>
            <td><%= teacher.teacher_name %></td>
          <% end %>
          <td><%= link_to "削除", teacher_registration_path(school_url: params[:school_url]), method: :delete, class: "btn btn-danger", data: {confirm: "削除してよろしいですか？" } %></td>
        </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>

