<!--職員登録ボタン-->
<div class="btn-teacher-new">
  <!--%= link_to "職員登録", new_teacher_registration_path, class: "btn btn-info" % -->
  <%= link_to '職員登録', new_teachers_path, remote: true, class: "btn btn-info" %>
</div>

<table class="table table-bordered table-condensed" id="index-classroom">
  <thead>
    <tr>
      <th>職員名</th>
      <th>職員コード</th>
      <th>メールアドレス</th>
      <th>管理者</th>
      <th>対応法担当者</th>
      <th>代理申請者</th>
      <th>職員編集</th>
      <th>職員削除</th>
    </tr>
  </thead>

  <tbody>
    <% teachers = @school.teachers.where(classroom_id: nil).order(:id) %>
    <% teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.teacher_name %></td>
        <td><%= teacher.tcode %></td>
        <td><%= teacher.email %></td>
        <td><%= teacher.admin ? '⭕️': '❌' %></td>
        <td><%= teacher.creator ? '⭕️': '❌' %></td>
        <td><%= teacher.charger ? '⭕️': '❌' %></td>
        <% if current_teacher == teacher %>
          <td><%= link_to "編集", edit_teacher_registration_path, class: "btn btn-primary" %></td>
          <td></td>
        <% else %>
          <td><%= link_to "編集", edit_info_teachers_path(id: teacher.id), remote: true, class: "btn btn-primary" %></td>
          <td><%= link_to "削除", destroy_teachers_path(id: teacher.id), method: :delete, class: "btn btn-danger", data: {confirm: "#{teacher.teacher_name}を削除してよろしいですか？" } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
