<table class="table table-bordered table-condensed" id="index-classroom">
  <thead>
    <tr>
      <th>職員名</th>
      <th>職員コード</th>
      <th>管理者</th>
      <th>対応法担当者</th>
      <th>代理申請者</th>
      <th>職員編集</th>
      <th>職員削除</th>
    </tr>
  </thead>

  <tbody>
    <% teachers = @school.teachers.where(classroom_id: nil) %>
    <% teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.teacher_name %></td>
        <td><%= teacher.tcode %></td>
        <td><%= teacher.admin ? '⭕️': '❌' %></td>
        <td><%= teacher.creator ? '⭕️': '❌' %></td>
        <td><%= teacher.charger ? '⭕️': '❌' %></td>
        <td><%= link_to "編集", edit_info_teachers_path(school_url: params[:school_url], id: teacher.id), remote: true, class: "btn btn-primary" %></td>
        <td><%= link_to "削除", destroy_teachers_path(school_url: params[:school_url], id: teacher.id), method: :delete, class: "btn btn-danger", data: {confirm: "#{teacher.teacher_name}を削除してよろしいですか？" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
