<%= form_with(model: @school, url: update_using_class_classrooms_path(@school), local: true, method: :patch) do |f| %>
  <div>
    <h1>クラス編集画面</h1>
    <h4>↓使用するクラスにチェックを入れて下さい</h4>
    <table class="table table-bordered table-condensed" id="index-classroom">
      <thead>
        <tr>
          <th>使用クラス選択</th>
          <th>クラス名</th>
        </tr>
      </thead>

      <tbody>
        <% @classrooms.each do |c| %>
          <%= f.fields_for "classrooms[]", c do |classroom| %>
            <tr>
              <td><%= classroom.check_box :using_class %></td>
              <td><%= classroom.text_field :class_name, class: "form-control" %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="center">
    <%= f.submit "変更を保存する", class: "btn btn-lg btn-primary" %>
    <%= link_to "キャンセル", '#', class: "btn btn-lg btn-default" %>
  </div>
<% end %>

