<% provide(:title, current_teacher.teacher_name) %>

<h1>職員一覧</h1>

<!--タブ部分-->
<ul class="tab-list list-unstyled">
  <li class="tab" id="tab-1">
    １学年
  </li>
  <li class="tab" id="tab-2">
    ２学年
  </li>
  <li class="tab" id="tab-3">
    ３学年
  </li>
  <li class="tab" id="tab-4">
    ４学年
  </li>
  <li class="tab" id="tab-5">
    ５学年
  </li>
  <li class="tab" id="tab-6">
    ６学年
  </li>
  <li class="tab" id="tab-7">
    特別学級
  </li>
  <li class="tab" id="tab-8">
    その他
  </li>
</ul>
<!--タブで選択された要素部分-->
<div class="tabbox-contents">
  <div class="tabbox" id="tabbox-1">
    <%= render 'classrooms/classlist', classrooms: @first_grade %>
  </div>
  <div class="tabbox" id="tabbox-2">
    <%= render 'classrooms/classlist', classrooms: @second_grade %>
  </div>
  <div class="tabbox" id="tabbox-3">
    <%= render 'classrooms/classlist', classrooms: @third_grade %>
  </div>
  <div class="tabbox" id="tabbox-4">
    <%= render 'classrooms/classlist', classrooms: @fourth_grade %>
  </div>
  <div class="tabbox" id="tabbox-5">
    <%= render 'classrooms/classlist', classrooms: @fifth_grade %>
  </div>
  <div class="tabbox" id="tabbox-6">
    <%= render 'classrooms/classlist', classrooms: @sixth_grade %>
  </div>
  <div class="tabbox" id="tabbox-7">
    <%= render 'classrooms/classlist', classrooms: @other_grade %>
  </div>
  <div class="tabbox" id="tabbox-8">
    <%= render 'classrooms/teacherlist', classrooms: @other %>
  </div>
</div>

<div id="new" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>


<script>
  $(function() {
    $('.tab-active').removeClass('tab-active');
    $('.box-show').removeClass('box-show');
    $('#tab-<%= @active %>').addClass('tab-active');
    $('#tabbox-<%= @active %>').addClass('box-show');
  })

  // turbolinksの無効化
  $(document).on('turbolinks:load', function() {
    $(function() {
      // .tabがクリックされたときを指定
      $('.tab').click(function(){
        // 今ある.tab-activeを削除
        $('.tab-active').removeClass('tab-active');
        // クリックされた.tabに.tab-activeを追加
        $(this).addClass('tab-active');
        // 今ある.box-showを削除
        $('.box-show').removeClass('box-show');
        // indexに.tabのindex番号を代入
        const index = $(this).index();
        // .tabboxとindexの番号が同じ要素に.box-showを追加
        $('.tabbox').eq(index).addClass('box-show');
      });
    });
  });
</script>