<% provide(:title, 'All Students') %>
<h1>児童アレルギー一覧</h1>

<div>
  <%= form_tag  import_students_path,  method: :post, multipart: true do |f| %>
    <div class="search_item">
      <%= button_tag 'ファイルを選択', class: %i(csv_input_btn), type: 'button', onclick: "$('#file_input').click();" %>
      <%= text_field_tag 'filename',"ファイルを選択してください", id: "filename", disabled: true %>
      <%= file_field_tag 'csv_file', id: "file_input", style: "display: none;", onchange: "file_selected($(this));" %>
    </div>
    <div>
      <button type="submit" class="btn btn-primary btn-import">CSVインポート</button>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  function file_selected(file_field){
    var filename = $(file_field)[0].files[0].name;
    $("#filename").val(filename);
  }
</script>

<table class="table border=2 width=100%, table-condensed table-hover" id="table-students">
  <thead>
    <tr>
       <th>機能</th>
       <td></td>
       <th>番号</th>
       <th>学級</th>
       <th>担任</th>
       <th>児童名</th>
       <th>アレルギー食品</th>
    </tr>       
  </thead>
  <tbody>
   
    <% @students.each do |st| %>
     <tr>
      <td><%= link_to "編集", edit_student_path(st, st[:id]), class: "btn btn-primary" %></td>
      <td><%= link_to "削除", st, method: :delete,  data: { confirm: "削除してよろしいですか？" }, class: "btn btn-primary" %></td>
      <td><%= st.student_id %></td>
      <td><%= st.student_classroom %></td>
      <td><%= st.teacher_of_student%></td>
      <td><%= st.student_name %></td>
      <td><%= st.alergy %></td>
    <tr>  
    <% end %>
    </tr>
    
      <td><%= link_to "アレルギー情報の追加", new_student_path, class: "btn btn-primary" %></td>
    </tr>
  </tbody> 
</table>      