<div>
  <% if @alergy_checks.any? %>
    <table class="table table-bordered table-condensed table-hover table__alergy-contents--center">
      <thead>
        <tr>
            <th><%= AlergyCheck.human_attribute_name(:worked_on) %></th>
            <!-- 全学級月間チェックではクラス名を表示 -->
            <% if controller.controller_name == "admin_alergy_checks" %>
              <th><%= Classroom.human_attribute_name(:class_name) %></th>
            <% end %>
            <th><%= Student.human_attribute_name(:student_name) %></th>
            <th><%= AlergyCheck.human_attribute_name(:menu) %></th>
            <th><%= AlergyCheck.human_attribute_name(:support) %></th>
            <th><%= AlergyCheck.human_attribute_name(:note) %></th>
            <th><%= AlergyCheck.human_attribute_name(:applicant_id) %></th>
            <th><%= AlergyCheck.human_attribute_name(:status) %></th>
        </tr>
      </thead>
      <tbody>
        <!-- 日付被り非表示チェック用変数 -->
        <% previous_worked_on = nil %>
        <% @alergy_checks.each do |alergy_check| %>
          <tr>
            <td>
              <!-- 日付被り非表示チェック -->
              <% unless alergy_check.worked_on == previous_worked_on %>
                <%= l(alergy_check.worked_on, format: :short) +
                    "(#{$days_of_the_week[alergy_check.worked_on.wday]})" %>
              <% end %>
            </td>
            <% previous_worked_on = alergy_check.worked_on %>

            <!-- 全学級月間チェックではクラス名を表示 -->
            <% if controller.controller_name == "admin_alergy_checks" %>
              <td><%= alergy_check.student.classroom.class_name %></td>
            <% end %>
            <td><%= alergy_check.student.student_name %></td>
            <td><%= alergy_check.menu %></td>
            <td><%= alergy_check.support %></td>
            <td><%= note(alergy_check.note) %></td>
            <td><%= alergy_check.applicant %></td>
            <% if alergy_check.status.blank? || alergy_check.status == "要再確認" %>
              <td bgcolor = "orange" >
            <% else %>
              <td>
            <% end %>
              <%= check_state(status: alergy_check.status, name: alergy_check.admin_name) %>
              </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <h1 style="font-size:2em"><%= "#{l(@first_day, format: :middle)}のチェック情報はありません。" %></h1>
  <% end %>
</div>