<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1>【チェック児童一覧】</h1>

      <div class="modal-body">
      <%= form_with(url: teachers_alergy_checks_path, local: true, method: :patch, id: "allergy-check-form") do |f| %>
        <table width=100%, class="table table-bordered table-condensed table__alergy-contents--center ">
          <thead>
            <tr>
              <th><%= Student.human_attribute_name(:student_name) %></th>
              <th><%= AlergyCheck.human_attribute_name(:menu) %></th>
              <th><%= AlergyCheck.human_attribute_name(:support) %></th>
              <th><%= AlergyCheck.human_attribute_name(:note) %></th>
              <th><%= AlergyCheck.human_attribute_name(:first_check) %></th>
              <th><%= AlergyCheck.human_attribute_name(:second_check) %></th>
              <th><%= AlergyCheck.human_attribute_name(:student_check) %></th>
              <th><%= AlergyCheck.human_attribute_name(:applicant_id) %></th>
              <th><%= AlergyCheck.human_attribute_name(:status_checker) %></th>
              <th><%= AlergyCheck.human_attribute_name(:status) %></th>
            </tr>
          </thead>
            <% @alergy_checks.each do |alergy_check| %>
              <!-- 代理報告の場合フラグを立てる -->
              <% if params[:proxy_flag] %>
                <%= f.hidden_field :proxy_flag, :value => params[:proxy_flag] %>
              <% end %>
              <%= f.fields_for "alergy_checks[]", alergy_check do |ac| %>
                <tbody>
                  <tr>
                    <td><%= alergy_check.student.student_name %></td>
                    <td><%= alergy_check.menu %></td>
                    <td><%= alergy_check.support %></td>
                    <!-- 備考欄が空白の場合は「なし」を表示 -->
                    <td><%= note(alergy_check.note) %></td>
                    <!-- 未報告状態の場合 -->
                    <% if alergy_check.status.blank? %>
                      <td><%= ac.check_box :first_check, {}, true, false %></td>
                      <td><%= ac.check_box :second_check, {}, true, false %></td>
                      <td><%= ac.check_box :student_check, {}, true, false %></td>
                      <td></td>
                    <!-- 報告済の場合 -->
                    <% else %>
                      <td><%= ac.check_box :first_check, { disabled: true }, true, false %></td>
                      <td><%= ac.check_box :second_check, { disabled: true }, true, false %></td>
                      <td><%= ac.check_box :student_check, { disabled: true }, true, false %></td>
                      <td><%= alergy_check.applicant %></td>
                      <!-- 報告状態を表示 -->
                    <% end %>
                    <td><%= Teacher.human_attribute_name(:admin) %></td>
                    <td><%= check_state(status: alergy_check.status, name: alergy_check.admin_name) %></td>
                  </tr>
                </tbody>
              <% end %>
            <% end %>
          </table>
          <% if @alergy_checks.count == @submitted %>
            <%= f.submit "報告済み", disabled: true, class: "btn btn-block btn-primary" %>
          <% else %>
            <%= f.submit "チェックを入れた行を報告する", type: "button", class: "btn btn-block btn-primary", onclick: "submitForm();" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  function submitForm() {
    let ids = <%= @unreported_alergy_checks_ids %>;
    let result = true;
    for (let i = 0; i < ids.length; i++) {
      let id = ids[i];
      let check = isCorrectCheck(id);
      if (check === false) {
        alert('報告する場合は第1チェック、第2チェック、本人チェックの3つ全てにチェックを入れる必要があります。');
        result = false;
        break;
      }
    }
    if (result === true) {
      $('#allergy-check-form').submit();
    }
  }

  function isCorrectCheck(id) {
    let count = 0;
    if ($(`#_alergy_checks_${id}_first_check`).is(':checked') === true) {
      count += 1;
    }
    if ($(`#_alergy_checks_${id}_second_check`).is(':checked') === true) {
      count += 1;
    }
    if ($(`#_alergy_checks_${id}_student_check`).is(':checked') === true) {
      count += 1;
    }
    if (count === 1 || count === 2) {
      return false;
    }
    return true;
  }
</script>
