<h1>月間チェック一覧</h1>
<div class="button__monthly">
  <%= link_to "前月", one_month_index_teachers_alergy_checks_path(date: @first_day.prev_month), class: "btn btn-info" %>
  <%= link_to "次月", one_month_index_teachers_alergy_checks_path(date: @first_day.next_month), class: "btn btn-info" %>
  <% if @alergy_checks.any? %>
    <%= link_to "印刷する", "#", class: "btn btn-primary", onclick: "window.print(); return false;" %>
  <% end %>
</div>

<div>
  <% if @alergy_checks.any? %>
    <table class="table table-bordered table-condensed table-hover table__alergy-contents--center">
      <thead>
        <tr>
            <th><%= AlergyCheck.human_attribute_name(:worked_on) %></th>
            <th><%= Student.human_attribute_name(:student_name) %></th>
            <th><%= AlergyCheck.human_attribute_name(:menu) %></th>
            <th><%= AlergyCheck.human_attribute_name(:support) %></th>
            <th><%= AlergyCheck.human_attribute_name(:note) %></th>
            <th><%= AlergyCheck.human_attribute_name(:applicant_id) %></th>
            <th><%= AlergyCheck.human_attribute_name(:status) %></th>
        </tr>
      </thead>
      <tbody>
        <%# 日付被り非表示チェック用変数 %>
        <% previous_worked_on = nil %>
        <% @alergy_checks.each_with_index do |alergy_check, index| %>
          <tr>

            <%# worked_onが1つ前の要素のworked_onと等しい場合 %>
            <% if alergy_check.worked_on == previous_worked_on %>
              <td></td>
            <% else %>
              <td><%= l(alergy_check.worked_on, format: :short) + 
                      "(#{$days_of_the_week[alergy_check.worked_on.wday]})" %></td>
            <% end %>
            <% previous_worked_on = alergy_check.worked_on %>

            <td><%= alergy_check.student.student_name %></td>
            <td><%= alergy_check.menu %></td>
            <td><%= alergy_check.support %></td>
            <td><%= note(alergy_check.note) %></td>
            <td><%= alergy_check.applicant %></td>
            <td>
              <%= monthly_check_state(status: alergy_check.status, name: alergy_check.admin_name) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <h1 style="font-size:2em"><%= "#{@first_day.month}月のチェック情報はありません。" %></h1>
  <% end %>
</div>