<div class="creator-new-modal">
  <div class="modal-dialog modal-lg modal-dialog-center">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <h1>対応法登録</h1>
        <div>
          <%= form_with(model: @student, url: teachers_creator_alergy_checks_path) do |f| %>
            <table class="table table-bordered table-condensed table-hover table__alergy-contents--center">
              <thead>
                <tr>
                  <td colspan=8><%= l(@day, format: :long) %></td>
                </tr>
                <tr>
                  <th>日付</th>
                  <th>クラス名</th>
                  <th>児童名</th>
                  <th>メニュー名</th>
                  <th>対応法</th>
                  <th>備考</th>
                </tr>
              </thead>
              <tbody id="creator-association-insertion-point">
                <%= f.fields_for 'alergy_checks' do |a| %>
                  <%= render "alergy_check_fields", f: a  %>
                <% end %>

              </tbody>
            </table>
            <div class="links">
              <%= link_to_add_association 'フォームを追加', f, :alergy_checks,
                  class: "btn btn-primary",
                  id: "add-fields-btn",
                  data: {
                    association_insertion_node: "#creator-association-insertion-point",
                    association_insertion_method: 'append' } %>
              <%= f.submit "登録", class: "btn btn-primary btn-block" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

// optionを追加するHTML
function appendStudent(datas, student_select_id) {
  var appendId = $(`#${student_select_id}`)
  $(`#${student_select_id} > option`).remove();
  datas.forEach(function(data) {
    appendId.append($("<option>").val(data[0]).html(data[1]))
  })
}

// クラスが選択された時のアクション
$(document).on("change", ".classroom-select", function () {
  classroom_id = $(this).val()
  student_select_id = $(this).attr('id').replace('classroom', 'student_id')
  // ajaxでリクエストを送信
  $.ajax({
    type: "GET",
    url: "/students/alergy_checks/creator/students",
    data: {classroom_id: classroom_id},
    dataType: 'json'
  })
  // doneメソッドでappendする
  .done(function(datas) {
    appendStudent(datas, student_select_id)
  })
})

</script>
