<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1>学校情報編集</h1>
    </div>
    <div class="modal-body">
      <div id="schools-error"></div>
      <%= form_with(model: @school, url: system_admins_school_path, remote: true, method: :patch) do |f| %>
        <div class="form-group">
          <%= f.label :school_name %>
          <%= f.text_field :school_name, placeholder: "学校名を入力してください（必須）", class: "form-control", required: true %>

          <%= f.label :school_url %>
          <%= f.text_field :school_url, placeholder: "7文字以上の半角英数で入力してください（必須）", class: "form-control", required: true %>
        </div>

        <div class="actions">
          <%= f.submit "更新する", class: "btn btn-primary btn-block" %>
        </div>
        <button type="button" class="btn btn-block btn-default %>" data-dismiss="modal">
          キャンセル
        </button>
      <% end %>
    </div>
  </div>
</div>

