<h1>学校一覧</h1>

<table class="table table-bordered table-condensed" id="index-school">
  <thead>
    <tr>
      <th>学校名</th>
      <th>学校URL</th>
      <th>学校管理者</th>
      <th>詳細</th>
      <th>削除</th>
    </tr>
  </thead>

  <tbody>
    <% @schools.each do |school| %>
      <tr>
        <td><%= school.school_name %></td>
        <td><%= school.school_url %></td>
        <% if school.teachers.where(admin: true).present? %>
          <% school.teachers.where(admin: true).each do |teacher| %>
            <td><%= teacher.teacher_name %></td>
          <% end %>
        <% else %>
          <td></td>
        <% end %>
        <td><%= link_to '詳細', system_admins_school_path(school), class: "btn btn-primary" %></td>
        <td><%= link_to "削除", system_admins_school_path(school), method: :delete, class: "btn btn-danger", data: {confirm: "削除してよろしいですか？" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '戻る', system_admins_path %>
<%= link_to '学校新規作成', new_system_admins_school_path %>