<h1>学校新規作成</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @school, url: system_admins_schools_path, local: true) do |f| %>
      <%= render 'layouts/flash_messages' %>
      <%= render 'layouts/model_error_messages', model: @school %>

      <div class="form-group">
        <%= f.label :school_name %>
        <%= f.text_field :school_name, class: "form-control" %>

        <%= f.label :school_url %>
        <%= f.text_field :school_url, class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "作成する", class: "btn btn-primary btn-block" %>
      </div>
    <% end %>
    <%= link_to '一覧へ戻る', system_admins_schools_path, class: 'btn btn-default btn-block' %>
  </div>
</div>

