<h1>学校管理者作成</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @admin_teacher, url: system_admins_school_teachers_path(@school), local: true) do |f| %>
      <%= render 'layouts/flash_messages' %>

      <div class="field">
        <%= f.label :teacher_name %>
        <%= f.text_field :teacher_name, class: "form-control" %>

        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control' %>

        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: 'current-password', class: 'form-control' %>
      </div>
      <div class="actions">
        <%= f.submit "作成する", class: "btn btn-primary btn-block" %>
      </div>
    <% end %>
    <%= link_to '戻る', system_admins_path %>
  </div>
</div>

