<% provide(:title, @user.name) %>
<div>
  <div class="center">
    <span style="font-size:2em"><%= I18n.l Date.today, format: :long %><br><br><br></span>
    <span style="font-size:3em"><%= "本日のチェック件数" %><br><br></span>
    <span style="font-size:2em"><%= @lunch_check_sum %> 件のチェックが必要です</span><br><br><br><br>
    <span style="font-size:3em"><%= "本日の担任からのチェック報告" %><br><br></span>
  </div>
  <div class="area">
    <% if @lunch_check_sum > 0 %>
      <%= link_to "有", lunch_check_info_user_attendances_path(@user), remote: true, class: "inline-block button" %>
    <% else %>
      <a class="inline-block button" href="#">無</a>
    <% end %>
  </div>
  
</div>
　<% if @user.superior? %>
    <div class="center">
      <% if @lunch_check_sum > 0 %>
        <p><font color="red">
         <%= link_to "【アレルギーチェックのお知らせ】", lunch_check_info_user_attendances_path(@user), remote: true, style: "color:red;" %>
        <span class="box"><%= @lunch_check_sum %> 件のお知らせがあります</span></font></p>
      <% else %>
        <p>【アレルギーチェックのお知らせ】</p>
      <% end %>
      <%= link_to "管理者一覧", lunch_check_all_user_attendances_path(@user), remote: true, style: "color:red;" %>
    </div>
  <% end %>   

<div id="lunch-check" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="lunch-check-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="lunch-check-all" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>