<h1>システム管理者編集</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= bootstrap_devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :new_password %>
    <% if @minimum_password_length %>
      <b><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></b>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "変更する場合は入力してください", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :new_password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "変更する場合は入力してください", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :current_password %> <b>（入力必須）</b><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit t('.update'), class: 'btn btn-info btn-block' %>
  </div>
<% end %>

<%= link_to "学校一覧へ戻る", system_admins_schools_path, class: 'btn btn-default btn-block' %>
