<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>
        <%= link_to "←", creator_teachers_path(date: @first_day.prev_month), class: "btn btn-primary" %>
        <%= l(@first_day, format: :middle) %> 対応法詳細
        <%= link_to "→", creator_teachers_path(date: @first_day.next_month), class: "btn btn-primary" %>
      </td>
    </tr>
  </table>
</div>

<div>
  <table class="table table-bordered table-condensed table-hover">
    <thead>
      <tr>
          <th>日付</th>
          <th></th>
          <th>クラス名</th>
          <th>児童名</th>
          <th>メニュー名</th>
          <th>対応法</th>
          <th>備考</th>
          <th></th>
          <th></th>
      </tr>
    </thead>
    <tbody>
      <% @one_month.each do |day| %>
        <tr>
          <td><%= l(day, format: :short) %></td>
          <td><%= link_to "入力", new_teachers_students_alergy_checks_path(day: day), class: "btn btn-primary", remote: true %></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><%= link_to "編集", "#", class: "btn btn-primary" %></td>
          <td><%= link_to "削除", "#", method: :delete,
                  data: { confirm: "対応法情報を削除します。よろしいですか？" },
                  class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<!-- モーダルウィンドウ表示 -->
<div id="new" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>