<% provide(:title, current_teacher.teacher_name) %>

<h1>本日の作業選択</h1>
<div class="center contents__font-size">
  <%= I18n.l(Date.current, format: :long) %>
</div>
<% if teacher_signed_in? %>
  <ul class="list-group-flush">
    <% unless current_teacher.classroom_id == nil %>
      <li class="today--menu">
        <%= link_to '自クラス報告', teachers_alergy_checks_path, class: "btn btn-info btn-lg" %>
      </li>
    <% end %>
    <% if current_teacher.charger? || current_teacher.admin? %>
      <li class="today--menu">
        <%= link_to '代理報告', teachers_charger_alergy_checks_path, class: "btn btn-info btn-lg" %>
      </li>
    <% end %>
    <% if current_teacher.creator? || current_teacher.admin? %>
      <li class="today--menu">
        <%= link_to '対応法作成', teachers_creator_alergy_checks_path, class: "btn btn-info btn-lg" %>
      </li>
    <% end %>
    <% if current_teacher.admin? %>
      <li class="today--menu">
        <%= link_to '報告の確認', teachers_admin_alergy_checks_path, class: "btn btn-info btn-lg" %>
      </li>
    <% end %>
  </ul>
<% end %>