<h1>児童一覧ページ</h1>

<!--児童追加ボタン-->
<% if current_teacher.admin? %>
  <div class="btn-student-new">
    <%= link_to "児童追加", new_teachers_school_student_path, remote: true, class: "btn btn-info" %>
  </div>
<% end %>

<table class="table table-bordered table-condensed" id="index-classroom">
  <thead>
    <tr> 
      <th>クラス名</th>
      <th>児童番号</th>
      <th>児童名</th>
      <th>アレルギー食品</th>
      <th>備考</th>
      <th>担任名</th>
      <% if current_teacher.admin? %>
        <th></th>
        <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%# 表示被りチェック用変数 %>
    <% @school_students.each do |student| %>
      <% previous_student = nil %>
      <% previous_teacher = nil %>
      <% if student.classroom.teachers.present? %>
        <% student.classroom.teachers.each do |t| %> <%# ここで担任情報が取得できないと、何も表示されない %>
          <% if previous_student == student.id && previous_teacher != t.id %>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><%= t.teacher_name %></td>
              <% if current_teacher.admin? %>
                <td></td>
                <td></td>
              <% end %>
            </tr>
          <% elsif previous_student.nil? && previous_teacher.nil? %>
            <tr>
              <td><%= student.classroom.class_name %></td> 
              <td><%= student.student_number %></td>
              <td><%= student.student_name %></td> 
              <td><%= student.alergy %></td>
              <td><%= student.student_note %></td>
              <td><%= t.teacher_name %></td>
              <% if current_teacher.admin? %>
                <td><%= link_to "編集", edit_teachers_school_student_path(student), remote: true, class: "btn btn-primary" %></td>
                <td><%= link_to "削除" ,teachers_school_student_path(student), method: :delete,  class: "btn btn-danger", data: {confirm: "#{student.student_name}を削除してよろしいですか？" } %></td>
              <% end %>
            </tr>
            <% previous_student = student.id if previous_student != student.id %>
            <% previous_teacher = t.id %>
          <% end %>
        <% end %>
      <% else %>
        <tr>
          <td><%= student.classroom.class_name %></td> 
          <td><%= student.student_number %></td>
          <td><%= student.student_name %></td> 
          <td><%= student.alergy %></td>
          <td><%= student.student_note %></td>
          <td>未登録</td>
          <% if current_teacher.admin? %>
            <td><%= link_to "編集", edit_teachers_school_student_path(student), remote: true, class: "btn btn-primary" %></td>
            <td><%= link_to "削除" ,teachers_school_student_path(student), method: :delete,  class: "btn btn-danger", data: {confirm: "#{student.student_name}を削除してよろしいですか？" } %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody> 
</table>


<div id="new" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>