<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <% if teacher_signed_in? %>
      <%= link_to "Allergy Check App", new_teacher_session_url(school_url: current_teacher.school.school_url), id: "logo" %>
    <% elsif system_admin_signed_in? %>
      <%= link_to "Allergy Check App", root_path, id: "logo" %>
    <% else %>
      <p id="logo">Allergy Check App</p>
    <% end %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if system_admin_signed_in? %>
          <%= render 'layouts/system_admin_header' %>
        <% elsif teacher_signed_in? %>
          <%= render 'layouts/teacher_header' %>
        <% else %>
          <% if params[:school_url].blank? %>
            <li><%= link_to "ログイン", new_system_admin_session_path %></li>
          <% else %>
            <li><%= link_to "ログイン", new_teacher_session_path(school_url: params[:school_url]) %></li>
          <% end %>
        <% end %>
      </ul>
    </nav>
  </div>
</header>